.DS_Store
.idea/

build/
dist/
*.egg-info
*.pyc

.bin/
.cache/

doc/sphinx/_build/
*/__pycache__/

htmlcov/
.coverage
coverage.xml

/freeze_requirements.txt
/env
/setenv

*.json

data/
*.pub

deploy.cmd
